<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="carbon_hotwire" params="prefix">
  <link name="${prefix}mount" /> 
  
    <link name="${prefix}carbon_hotwire" >
      <visual>
        <geometry>
          <mesh filename="package://wire_cutting/meshes/carbon_hotwire.stl" />
        </geometry>>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://wire_cutting/meshes/carbon_hotwire.stl" />
        </geometry>
      </collision>
    </link>
    
    <joint name="${prefix}mount-tool" type="fixed" >
      <parent link="${prefix}ee_mount" />
      <child link="${prefix}ee_base" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

  </xacro:macro>
</robot>
